@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    background: #fff; /* fallback for old browsers */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.title {
    text-align: left;
    width: 50%;
    margin: 0 auto;
    margin-top: 2em;
    color: #00BFFF;
    font-size: 25px;
}

.container {
    width: 50%;
    margin: 0 auto;
    margin-top: 2em;
}

.list {
    position: relative;
    background: #00BFFF;
}

button {
    display: inline;
    width: 20%;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #00BFFF;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
button:hover, button:active, button:focus {
    background: #1E90FF;
}
.list ul {
    list-style: none;
    padding: 0;
}

.list ul li {
    border-bottom: 1px solid silver;
    background: white;
    margin-bottom: 10px;
    padding: 5px;
    transition: all .3s ease-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list ul li:hover {
    transition: all .3s ease-in;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.list ul li h2 {
    font-size: 20px;
    color: #1a1a1a;
}

.list ul li p {
    color: #6e6e6e;
}

.flow-form {
    display: none;
    position: absolute;
    z-index: 999;
    border: 3px solid #00BFFF;
    width: 360px;
    background: white;
    height: 200px;
    margin: 0 auto;
    top: 10%;
    left: 0;
    right: 0;
    padding: 20px;
}

.flow-form input {
    display: block;
    border: 0;
    border-bottom: 1px solid black;
    width: 50%;
    margin-bottom: 20px;
    padding: 10px;
    outline: 0;
}

.flow-form textarea {
    display: block;
    border: 0;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}